* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    padding: 0px;
    font-family: 'Noto Sans', sans-serif, Arial, Helvetica, sans-serif;
}

img {
    width: 60px;
    height: 60px;
}
.header {
    display: flex;
    justify-content:space-between;
    background-color: #121C26;
    box-shadow: 1px 5px 4px #000;
    padding: 20px 20px;
    
    
}
.menu ul li { 
    display: inline;
}
nav {
    padding-top: 20px;
    padding-right: 100px;
}

.menu a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    
}





.sobre_mim {
    background-color: #23364A;
    border-bottom: 7px solid #000;
    
}
.container_sobre {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.sobre_mim_right h2 {
    text-align: center;
    color: #fff;
    font-size: 45px;
    padding-right: 300px;
    padding-bottom: 10px;
    
}
.sobre_mim_right p {
    display: block;
    width: 450px;
    height: 150;
    font-size: 17px;
    align-items: center;
    color: #fff;
    
}
.container_sobre img {
    width: 400px;
    height: 400px;
    padding-right: 100px;
}





.projetos {
    background-color: #1C2B3B;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    border-bottom: 7px solid #000;
}
.projetos_body {
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.projetos_body div {
    margin-right: 70px;
}
.projetos_body img {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
}
.container_projetos h2 {
    padding-bottom: 50px;
    font-size: 45px;
}
.projetos_body p {
    width: 370px;
    height: 370px;
    font-size: 15px;   
}











.habilidades {
    background-color: #23364A;
}
.container_habilidades {
    padding: 50px;
    border-bottom: 7px solid #000;
    padding-bottom: 70px;
    
}
.container_habilidades h2 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
    
}
.container_habilidades p {
    display: block;
    justify-items: center;
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.container_habilidades img {
  
    margin-right: 50px;
    margin-top: 50px;   
}
.img_uma_do_lado_da_outra {
    display: flex; 
    align-items: center;
    justify-content: center;
}
#img_principal {
    width: 90px;
    height: 90px;
}




.contatos {
    background-color: #23364A;
    padding-bottom: 30px;
    border-bottom: 3px solid #000;
}
.container_contatos h2 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}
.container_contatos p {
    color: #fff;
    display: block;
    justify-items: center;
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
}
.container_contatos img {
    margin-right: 40px;
    margin-top: 40px; 
}




.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #364F6A;

}
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}