/* Bootstrap */
@import url(./bootstrap.min.css);
/* Customização */
@import url(./custom.css);
/* Fontawesone */
@import url(./all.min.css);
/* Responsive */
@import url(./responsive.css);

:root {
--primary-color: #00804b;
--primary-hover: #015834;
--title-color: #141313;
--text-color: #777;
--light-color: #f0f0f0;
--border-color: #201f1f17;
--gradiente-color: linear-gradient(90deg, #00804b 0%, #000000 100%);
--shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
--box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
}

